html,
body {
  margin: 0px;
  padding: 0px;
}


body {
  width: 100%;
}


.jumbotron {
  background-color: white;
}


h2 {
  color: yellow;
  text-shadow: 1px 1.5px 2px black;
}

.crown {
  width: 17%;
}

@media (min-width: 768px) {
  .crown {
    width: 8%;
  }
}

.picture-header {
  width: 88%;
}

@media (min-width: 768px) {
  .picture-header {
    width: 53%;
  }
}

.pack {
  width: 62%;
}

@media (min-width: 768px) {
  .pack {
    width: 53%;
  }
}

.picture-footer {
  width: 80%;
}

@media (min-width: 768px) {
  .picture-footer {
    width: 35%;
  }
}